In [9]:
import os
import pandas as pd

path = "F:\\Mrig Analytics\\mediafiles\\downloads\\equity_options_futures.csv"

f = pd.read_csv(path)
f

,trade_date,symbol,security_type,underlying,strike,option_type,expiry_date,quantity,price
0,4/2/2024,BANKNIFTY24APRFUT,FUT,BANKNIFTY,NaN,NaN,4/24/2024,15,47932.95
1,4/2/2024,NIFTY24APRFUT,FUT,NIFTY,NaN,NaN,4/25/2024,50,22540.45
2,4/2/2024,NIFTY24APR22800CE,OPT,NaN,22800.0,CE,4/25/2024,50,138.40