In [2]:
import strategies.stocks as st
nifty = st.Index('NIFTY 50')

In [3]:
oc = nifty.optionChain()

In [54]:
oc.columns

Index(['CALL_OI', 'CALL_Chng_in_OI', 'CALL_Volume', 'CALL_IV', 'CALL_LTP',
       'CALL_Net_Chng', 'CALL_BidQty', 'CALL_BidPrice', 'CALL_AskPrice',
       'CALL_AskQty', 'Strike_Price', 'PUT_BidQty', 'PUT_BidPrice',
       'PUT_AskPrice', 'PUT_AskQty', 'PUT_Net_Chng', 'PUT_LTP', 'PUT_IV',
       'PUT_Volume', 'PUT_Chng_in_OI', 'PUT_OI'],
      dtype='object')

In [52]:
import datetime
oc_1 = oc[oc['CALL_OI'] > oc['PUT_OI']][['Strike_Price','CALL_OI','PUT_OI']].loc[datetime.date(2020,4,9)]

In [64]:
import pandas as pd
oc = oc.apply(pd.to_numeric, errors='coerce')

In [72]:
oc[oc['CALL_OI'] > oc['PUT_OI']][['Strike_Price','CALL_OI','PUT_OI']].loc[datetime.date(2020,4,30)].sort_values(by=['CALL_OI']).tail(2)

            Strike_Price    CALL_OI     PUT_OI
Expiry
2020-04-30       10000.0  1570650.0   579525.0
2020-04-30        9000.0  1650675.0  1313850.0

In [73]:
oc[oc['CALL_OI'] < oc['PUT_OI']][['Strike_Price','CALL_OI','PUT_OI']].loc[datetime.date(2020,4,30)].sort_values(by=['PUT_OI']).tail(2)

            Strike_Price   CALL_OI     PUT_OI
Expiry
2020-04-30        7500.0  322800.0  2097525.0
2020-04-30        8000.0  783975.0  2227950.0